.jiemian{
    width: 600px;
    height: 700px;
    margin: 0 auto;
    border: 1px solid black;
    .renwu{
      display: flex;
      .shuxing{
        display: flex;
        flex-wrap: wrap;
          .item{
            width: 50%;
            text-align: left;
            text-indent: 30px;
            // margin: 10px auto 0;
            line-height: 30px;
          }
          .magicPower{
            margin-top: 30px;
          }
      }
    }
  }