  .battle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  background: linear-gradient(to right, rgb(219, 194, 111), rgb(221, 166, 104));
    .master {
      width: 100%;
      height: 200px;
      margin-left: 2rem;
      text-align: left;
      line-height: 2rem;

      .xue-text {
        width: 5rem;
        height: 1.875rem;
        // text-align: center;
      }

      .xue-box {
        width: 9.375rem;
        height: 1.875rem;

        .xue {
          width: 96%;
          height: 50%;
          margin: auto;
          position: relative;
          background: linear-gradient(to right,rgb(255, 102, 102), rgb(255, 0, 0));
          box-shadow: .1875rem .25rem .625rem #7a0303;
          border: 1px solid #520303;
          border-radius: 1rem;
          .is-master {
            height: 100%;
            position: absolute;
            right: 0;
            background: white;
            width: 0;
          }
        }
      }
    }

    .role {
      width: 100%;
      height: 12.5rem;
      margin-left: 2rem;
      text-align: left;
      line-height: 2rem;

      .xue-text {
        width: 5rem;
        height: 1.875rem;
        // text-align: center;
      }

      .xue-box {
        width: 9.375rem;
        height: 1.875rem;

        .xue {
          width: 96%;
          height: 50%;
          margin: auto;
          position: relative;
          background: linear-gradient(to right,rgb(255, 102, 102), rgb(255, 0, 0));
          box-shadow: .1875rem .25rem .625rem #7a0303;
          border: 1px solid #520303;
          border-radius: 1rem;
          .is-role111 {
            height: 100%;
            position: absolute;
            right: 0;
            background: white;
            width: 0;
          }
        }
      }
    }
  }
